<div>
<a href="<%=pages_one_path %>">link_pages_one_html</a>
</div>

<div>
    <%=link_to "link_pages_one_por_erb", pages_one_url %>
  </div>

<div>
<a href="<%=pages_index_path %>">link_pages_index_html</a>
</div>

<div>
    <%=link_to "link_pages_index_por_erb", root_path %>
  </div>
<div>
    <%= image_tag("rake_routes.png") %>
</div>